<%- include('./partials/header.ejs')%>
<div class="content">
  <!-- About Section-->
  <section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">
        About
      </h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-lg-4 ms-auto">
          <p class="lead">
            Welcome to the UNCC Dota 2 Club, where passion for the game meets
            the spirit of community, fun, respect, and of course, Dota 2!
            Located at the University of North Carolina at Charlotte, our club
            is a hub for competitive gaming enthusiasts who are dedicated to
            honing their skills, fostering a supportive community, and
            participating in thrilling tournaments. At the core of our club are
            our four values: community, fun, respect, and Dota 2. We believe in
            the power of a strong and inclusive community that uplifts and
            supports its members. Whether you're a seasoned player or new to
            Dota 2, our club provides an open and welcoming environment for
            players of all skill levels to come together, learn, and grow. As a
            competitive club, we've assembled a top-notch roster comprised of
            the most skilled Dota 2 players at UNCC. Our players are driven by
            their passion for the game and their desire to excel in the world of
            collegiate esports. We not only strive to compete with other schools
            in thrilling matches and tournaments but also aim to promote a
            culture of healthy competition and sportsmanship.
          </p>
        </div>
        <div class="col-lg-4 me-auto">
          <p class="lead">
            But it's not all about high-stakes battles and intense matches! We
            understand the importance of fun and enjoyment in gaming. Our club
            organizes a wide range of events and activities designed to create
            memorable experiences for our members. From casual in-house games to
            LAN parties and watch parties for major Dota 2 tournaments, there's
            always something exciting happening within the UNCC Dota 2 Club. One
            of our primary goals is to help develop and nurture new Dota 2
            talent. We provide resources, coaching, and mentorship programs to
            support players who are looking to improve their skills and reach
            new heights in their gameplay. Our experienced players are always
            willing to share their knowledge and help others thrive in the Dota
            2 community. The UNCC Dota 2 Club is also known for its vibrant
            tournament scene. We host regular tournaments, both within the club
            and in collaboration with other universities, giving players the
            opportunity to compete against skilled opponents, showcase their
            abilities, and potentially earn recognition for their achievements.
          </p>
        </div>
        <div class="col-lg-4 me-auto">
          <p class="lead">
            Our tournaments cater to players of various skill levels, ensuring
            that everyone has a chance to participate and showcase their Dota 2
            prowess. Beyond the competitive aspect, our community is
            characterized by a loving and open atmosphere. We foster a sense of
            camaraderie, where members can connect, socialize, and form lasting
            friendships. Whether it's engaging in lively discussions about Dota
            2 strategies, organizing social events, or simply sharing memorable
            gaming moments, our community bonds are built on mutual respect and
            support. Join the UNCC Dota 2 Club today and experience a thrilling
            journey through the world of competitive gaming, where community,
            fun, respect, and Dota 2 converge to create an extraordinary
            environment for Dota 2 enthusiasts at the University of North
            Carolina at Charlotte.
          </p>
        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/footer.ejs')%>
</div>
